:root {
  --cor-header:#775FE6;
  --cor-trapesio: #8ACFCD;
  --cor-background: #DBEAFF;
  --branco: #F5F5F5;
  --cor-texto-preto: #181C1F;
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-secundaria: 'Krona One', sans-serif;
  --fonte-footer: Arial, Helvetica, sans-serif;
}


/* Estilo para o cabeçalho retangular da frente */
.header {
    background-color: #775FE6;
    color: #fff;
    padding: 65px;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center; /* Centraliza horizontalmente */
}

.logo1 {
  height: 90px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.logo2 {
  height: 80px;
  width: 200px;
  margin-bottom: 10px;
}

.img-user {
  height: 45px;
  width: 45px;
  margin-right: 5%;
  margin-top: -11px;
}

.div-login {
  display: flex;
  position: absolute;
  right: 2%;
}

.text-login {
  position: static;
  color: var(--branco);
  text-decoration: none;
  font-size: 17px;
  font-family: var(--fonte-principal);
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 0%;
  right: -15%;
  margin-right: 20px;
}

.text-login:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.sublinhado {
  margin: 20px;
  font-size: 15px;
  margin-left: 50px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  display: inline-flex;
}

/* Estilo para o trapézio isósceles verde claro */
/* E estilo para toda a parte 1(embaixo do header)*/
.trapezoid-container {
    text-align: center;
    position: relative;
    position:absolute;
    margin-top: 18px;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #8ACFCD; /* Verde claro */
    padding: 30px 350px;
    clip-path: polygon(13% 35%, 88% 35%, 83% 60%, 18% 60%); /* Define o trapézio invertido */
    color: #181C1F; /* Texto preto */
}
/* barra para pesquisar placa e veiculo */
/* .form-inline {
    text-align: center;
    margin-top: 10px;
    padding: 1px 500px;
} */

.aba:hover {
  text-decoration: underline;
}
.aba {
  margin: 10px
}

.parte1 {
  background-color: #DBEAFF;
  height: 1000px;
  width: 100%;
  margin-top:-20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }  

.parte2 {
  background-image: url(/assets/img/img-parte2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  opacity: 0.5;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--cor-background);
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  top: 60px;
  margin: 10;
  margin-top: 100px;
  padding: 20px;
  background-color: transparent;
  background-image: linear-gradient(190deg, #1183DC 0%, #0A4D94 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 48px;
  color: var(--branco);
  padding: 0px 0;
  font-family: var(--fonte-principal);
  font-weight: 800;
  text-align: center;
  padding-bottom: 10px;
}

h2:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(
    left,
    rgba(147, 184, 189, 0) 0%,
    rgba(147, 184, 189, 0.8) 20%,
    rgba(147, 184, 189, 1) 53%,
    rgba(147, 184, 189, 0.8) 79%,
    rgba(147, 184, 189, 0) 100%
  );
  background: linear-gradient(
    left,
    rgba(147, 184, 189, 0) 0%,
    rgba(147, 184, 189, 0.8) 20%,
    rgba(147, 184, 189, 1) 53%,
    rgba(147, 184, 189, 0.8) 79%,
    rgba(147, 184, 189, 0) 100%
  );
}

h2 {
  height: 100px;
  width: 100%; 
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  color: var(--branco);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #8ACFCD;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  background-color: #8ACFCD;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.veiculo {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    color: var(--branco);
    font-family: var(--fonte-secundaria);
}

.veiculo label, .veiculo input {
    display: block;
    margin-bottom: 10px;
}

.veiculo button {
    background-color: #007bff;
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.veiculo button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
}

/*FOOTER*/

footer {
  margin-top: auto;
  height: 80px;
  background-color: var(--cor-header);
  color: var(--branco);
  padding: 10px 0 0 0;
  align-items: center;
  justify-content: center;
  width: 101%;
}

.textfooter {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: var(--fonte-footer);
}