
:root {
  --cor-header:#775FE6;
  --cor-trapesio: #8ACFCD;
  --cor-background: #DBEAFF;
  --branco: #F5F5F5;
  --cor-texto-preto: #181C1F;
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-secundaria: 'Krona One', sans-serif;
  --fonte-footer: Arial, Helvetica, sans-serif;
}


/* Estilo para o cabeçalho retangular da frente */
.header {
  background-color: var(--cor-header);
  width: 100%;
  color: var(--branco);
  padding: 10px;
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: center; /* Centraliza horizontalmente */
}

.logo1 {
  height: 80px;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.logo2 {
  height: 80px;
  width: 200px;
  margin-bottom: 10px;
}

.img-user {
  height: 45px;
  width: 45px;
  margin-right: 5%;
  margin-top: -11px;
}

.div-login {
  display: flex;
  position: absolute;
  right: 2%;
}

.text-login {
  position: static;
  color: var(--branco);
  text-decoration: none;
  font-size: 17px;
  font-family: var(--fonte-principal);
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 0%;
  right: -15%;
  margin-right: 20px;
}

.text-login:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.sublinhado {
  margin: 20px;
  font-size: 18px;
  margin-left: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  display: inline-flex;
}

/* Estilo para o trapézio isósceles verde claro */
/* E estilo para toda a parte 1(embaixo do header)*/
.trapezoid-container {
  text-align: center;
  position: relative fixed;
  position:absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: var(--cor-trapesio); /* Verde claro */
  padding: 40px 350px;
  clip-path: polygon(23% 35%, 80% 35%, 73% 65%, 30% 65%); /* Define o trapézio invertido */
  color: #181C1F; /* Texto preto */
}
/* barra para pesquisar placa e veiculo */
/* .form-inline {
    text-align: center;
    margin-top: 10px;
    padding: 1px 500px;
} */

.aba:hover {
  text-decoration: underline;
}
.aba {
  margin: 10px
}

.parte1 {
  background-color: var(--cor-background);
  height: 550px;
  width: 100%;
  margin-top:-20px;
  /* height: 150px; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
  }  

.parte2 {
  background-image: url(/assets/img/img-parte2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  opacity: 0.5;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--branco);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--branco);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  height: 150px;
  /* width: 100%; */
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid var(--cor-trapesio);
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  background-color: #8ACFCD;
  color: var(--branco);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  text-align: center;
}

/*FOOTER*/

footer {
  margin-top: auto;
  height: 80px;
  background-color: var(--cor-header);
  color: var(--branco);
  padding: 10px 0 0 0;
  align-items: center;
  justify-content: center;
  width: 101%;
}

.textfooter {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: var(--fonte-footer);
}