html {
  scroll-behavior: smooth;
}

/* Estilo para o cabeçalho retangular da frente */
.header {
  background-color: #775FE6;
  width: 100%;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center; /* Centraliza horizontalmente */
}

.logo1 {
  height: 80px;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.logo2 {
  height: 70px;
  width: 190px;
  margin-bottom:20px;
}

.img-user {
  height: 45px;
  width: 45px;
  margin-right: 5%;
  margin-top: -11px;
}

.div-login {
  display: flex;
  position: absolute;
  right: 2%;
}

.text-login {
  position: static;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  position: relative;
  top: 0%;
  right: -15%;
  margin-right: 20px;
}

.text-login:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}


/*Parte 1 - Netcar */

.sublinhado {
  margin: 20px;
  font-size: 18px;
  margin-left: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  display: inline-flex;
}

/* Estilo para o trapézio isósceles verde claro */
/* E estilo para toda a parte 1(embaixo do header)*/
.trapezoid-container {
    text-align: center;
    position: relative fixed;
    position:absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #8ACFCD; /* Verde claro */
    padding: 40px 350px;
    clip-path: polygon(23% 35%, 80% 35%, 73% 65%, 30% 65%); /* Define o trapézio invertido */
    color: #181C1F; /* Texto preto */
}

.aba:hover {
  text-decoration: underline;
}
.aba {
  margin: 10px
}

.parte1 {
  background-color: #DBEAFF;
  height: 550px;
  width: 110%;
  margin-top:-20px;
}

.parte12 {
  display: flex;
}

.mecanico{
  height: 430px;
  position: relative fixed;
  position:absolute;
  left: 50%;
  transform: translate(-50% , -50%); /* Centraliza a imagem usando o centroide */
  margin-top: 350px;
  z-index: 0;
}

.retangulo-mecanico {
  display: flex;
  position: relative fixed;
  position: absolute;
  left: 50%;
  top: 660px;
  transform: translate(-50% , -50%);
  height:150px;
  width: 30rem;
  background-color: #C3DAFA;
  z-index: 1;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.div-retangulo2 {
  height: 100px;
  width: 10rem;
  border-left: #181C1F solid 3px;
  border-right: #181C1F solid 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  font-size: 20px;
}

.div-retangulo {
  height: 150px;
  width: 10rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  font-size: 20px;
}

.text1 {
  width: 300px;
  font-size: 20px;
  margin: 10%;
}

/**/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }  


/*PARTE 2 - NOSSOS SERVIÇOS*/
.parte2 {
  position: relative;
  height: 600px;
  width: 100%;
}

.imgparte2 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 50%;
}

.titulo-serviços{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-serviços {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 48%; 
}

.serviços {
  display: flex;
  width: 18%;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: #181C1F solid 0.5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #444444;
  margin: 30px;
  font-size: 25px;
  margin-top: -20px;
  background-color: #ffffff8e;
}
.serviços:hover {
  background-color: #dadada8e;
  transform: translate(3px, 10px);
}

.aten-rapido {
  position: relative;
  display: flex;
  border-radius: 50px;
  border-color: #f71c1c solid 3px;
  box-shadow: 0px 0px 10px #444444;
  width: 25%;
  height: 60px;
  background-color: #face0d;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
}
.aten-rapido:hover {
  background-color: #fff023;
}
.aten-rapido:active {
  box-shadow: 0 0 0 0 #74acab, inset 3px 3px 3px #74acab;
}

.icon-whats {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 4%;
  margin-left: 8%;
}

.text-agen-serviço {
  display: flex;
  font-size: 28px;
  position: relative;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}


/*PARTE 3 - CONTATO*/

.parte3 {
  display: flex;
  height: 600px;
  width: 100%;
  margin-top: 10px;
}

.contato-p1 {
  height: 580px;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin-left: 10%;
  margin-top: 8%;
}

.img-localizacao {
  height: 40px;
  width: 40px;
  padding: 20px;
}

.icons {
  display: flex;
  padding: 0px;
}

.contato-p2 {
  display: flex;
  width: 60%;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.envie-email {
  height: 540px;
  width: 70%;
  background-color: transparent;
  background-image: linear-gradient(190deg, #1183DC 0%, #0A4D94 100%);
  border-radius: 8px;
  margin-right: 10%;
  margin-top: 10%;
}

.email-dados{
  padding: 7px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.titulo-envie-email{
  font-size: 29px;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  margin-top:5%
}

.text-email-dados {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-email-dados,
.input-email-dados-2 {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.input-email-dados-2 {
  height: 70px;;
}

.botao-enviar-email{
  background: linear-gradient( 60.37deg, #00D09E -0.25%, #117BF7 85.08%);
  width: 100px;
  height: 50px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
  padding: 15px;
  border-radius: 30px;
  margin-left: 6%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0px #444444;
}
.botao-enviar-email:hover {
  background-color: #74acab;
}
.botao-enviar-email:active {
  background-color: #45a049;
  box-shadow: 0 0 0 0 #c5c5c5, inset 5px 5px 5px #c6caca;
}



/*FOOTER*/

footer {
  margin-top: 30px;
  height: 80px;
  background-color: #836ee2;
  color: #fff;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.textfooter {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}