<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/cadastroDeVeiculo.css">
    <title>Cadastro de Agendamento de Carro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="agendamento.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="carro.png" type="image/x-icon">

    <style>
        
    </style>
</head>

<body>
    <section class="header">
        <img src="/assets/img/logo1.png" class="logo1">
        <img src="/assets/img/logo2.png" class="logo2">
          <!-- <h1 class="header-rect2"> </h1> -->
          <div class="div-login">
            <div>
              <a href="./login.html#paralogin" class="text-login">Login</a>
            </div>
            <div>
              <img src="/assets/img/user circle.png" class="img-user">
            </div>
            <div>
              <a href="./login.html#paracadastro" class="text-login">Cadastro</a>
            </div>
          </div>
    </section>
    <section class="parte1">
        <div class="trapezoid-container">
            <nav>
                <ul class="sublinhado">
                    <li><a href="index.html" class="aba">Netcar</a></li>
                    <li><a href="index.html#parte2" class="aba">Serviços</a></li>
                    <li><a href="dashboard.html" class="aba">Agendamento</a></li>
                    <li><a href="index.html#parte3" class="aba">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu"><i class="bi bi-list"></i></div>

        <div  v-if="myModel" class="container">
            <transition name="model">
            </button>

            <h1>Cadastro de Agendamento de Carro</h1>
            <form id="agendamentoForm">
                <div class="veiculo">
                    <h2>Veículo 1</h2>
        
                    <label for="modelo1">Marca e Modelo do Veiculo:</label>
                    <input type="text" class="form-control" v-model="modelo1" placeholder="Preencha com a Marca do Veiculo" required>
                    
                    <label for="ano1">Ano do Modelo do Veiculo:</label>
                    <input type="number" class="form-control" v-model="ano1" maxlength="4" placeholder="Preencha com o Ano do Veiculo EX:2023" required>

                    <label for="placa1">Placa:</label>
                    <input type="text" class="form-control" v-model="placa1" placeholder="Preencha com a Marca do Veiculo" required>

                    <label for="data1">Data de Agendamento:</label>
                    <input type="date" class="form-control" v-model="data1" required>
    
                    <label for="time1">Horário para agendamento:</label>
                    <input type="time" class="form-control" v-model="time1" required>

                    <label for="descricao">Descrição do Problema:</label>
                    <textarea type="text" class="form-control" v-model="descricao" placeholder="Adicione a descrição do problema." required></textarea>
                </div>
                <div align="center">
                  <input type="hidden" v-model="hiddenId" />
                  <input type="button" v-model="actionButton" @click="submitData" value="Agendar" />
                </div>
            </form>
        </transition>
        </div>
                
<div id="mensagemErro" class="error-message"></div>

        </div>
    </section>

</body>

<footer class="footer">
        <hr>
        <p class="textfooter">&copy; Netcar | Todos os direitos reservados.</p>
</footer>

</html>


<script>
    var application = new Vue({
      el: "#crudApp",
      data: {
        allData: "",
        myModel: false,
        actionButton: "Agendar",
      },
      methods: {
        fetchAllData: function () {
          axios
            .post("cadastro.php", {
              action: "fetchall",
            })
            .then(function (response) {
              application.allData = response.data;
            });
        },
        openModel: function () {
          application.modelo1 = "";
          application.ano1 = "";
          application.placa1 = "";
          application.data1 = "";
          application.time1 = "";
          application.descricao = "";
          application.actionButton = "Agendar";
          application.myModel = true;
        },
        submitData: function () {
          if (application.modelo1 != "" && application.ano1 != "" && application.placa1 != "" && application.data1 != "" && application.time1 != "" && application.descricao != "") {
            if (application.actionButton == "Agendar") {
              axios
                .post("cadastro.php", {
                  action: "insert",
                  modelo1: application.modelo1,
                  ano1: application.ano1,
                  placa1: application.placa1,
                  data1: application.data1,
                  time1: application.time1,
                  descricao: application.descricao
                })
                .then(function (response) {
                  application.myModel = false;
                  application.fetchAllData();
                  application.modelo1 = "";
                  application.ano1 = "";
                  application.placa1 = "";
                  application.data1 = "";
                  application.time1 = "";
                  application.descricao = "";
                  alert(response.data.message);
                });
            }
            if (application.actionButton == "Update") {
              axios
                .post("cadastro.php", {
                  action: "update",
                  modelo1: application.modelo1,
                  ano1: application.ano1,
                  placa1: application.placa1,
                  data1: application.data1,
                  time1: application.time1,
                  descricao: application.descricao,
                  hiddenId: application.hiddenId,
                })
                .then(function (response) {
                  application.myModel = false;
                  application.fetchAllData();
                  application.modelo1 = "";
                  application.ano1 = "";
                  application.placa1 = "";
                  application.data1 = "";
                  application.time1 = "";
                  application.descricao = "";
                  application.hiddenId = "";
                  alert(response.data.message);
                });
            }
          } else {
            alert("Complete todos os dados!!!");
          }
        },
        fetchData: function (veicId) {
          axios
            .post("cadastro.php", {
              action: "fetchSingle",
              veicId: veicId,
            })
            .then(function (response) {
              application.modelo1 = response.data.modelo1;
              application.ano1 = response.data.ano1;
              application.placa1 = response.data.placa1;
              application.data1 = response.data.data1;
              application.time1 = response.data.time1;
              application.hiddenId = response.data.veicId;
              application.myModel = true;
              application.actionButton = "Update";
            });
        },
        deleteData: function (veicId) {
          if (confirm("Você tem certeza que deseja cancelar o agendamento?")) {
            axios
              .post("cadastro.php", {
                action: "delete",
                veicId: veicId,
              })
              .then(function (response) {
                application.fetchAllData();
                alert(response.data.message);
              });
          }
        },
      },
      created: function () {
        this.fetchAllData();
      },
    });
  </script>