<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/NETCAR/assets/css/login.css">
    <title>DASHBOARD</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <section class="header">
        <img src="/NETCAR/assets/img/logo1.png" class="logo1">
        <img src="/NETCAR/assets/img/logo2.png" class="logo2">
        <!-- <h1 class="header-rect2"> </h1> -->
        <div class="div-login">
          <div>
            <a href="./login.html#paralogin" class="text-login">Login</a>
          </div>
          <div>
            <img src="/NETCAR/assets/img/user circle.png" class="img-user">
          </div>
          <div>
            <a href="./login.html#paracadastro" class="text-login">Cadastro</a>
          </div>
        </div>
    </section>
    <section class="parte1">
        <div class="trapezoid-container">
            <nav>
                <ul class="sublinhado">
                    <li><a href="index.html" class="aba">Netcar</a></li>
                    <li><a href="index.html#parte2" class="aba">Serviços</a></li>
                    <li><a href="dashboard.html" class="aba">Agendamento</a></li>
                    <li><a href="index.html#parte3" class="aba">Contato</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="container" id="crudApp">
        <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <h3 class="panel-title">Histórico de Agendamentos</h3>
            </div>
            <div class="col-md-6" align="right">
              <input type="button" class="btn btn-success btn-xs" @click="openModel" value="Add" />
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tr>
                <th>Veículo</th>
                <th>Ano</th>
                <th>Placa</th>
                <th>Data do Agendamento</th>
                <th>Horário agendado</th>
                <th>Descrição do problema</th>
                <th>Alterar Agendamento</th>
                <th>Cancelar Agendamento</th>
              </tr>
              <tr v-for="row in allData">
                <td>{{ row.modelo1 }}</td>
                <td>{{ row.ano1 }}</td>
                <td>{{ row.placa1 }}</td>
                <td>{{ row.data1 }}</td>
                <td>{{ row.time1 }}</td>
                <td>{{ row.descricao }}</td>
                <td>
                  <button type="button" name="edit" class="btn btn-primary btn-xs edit" @click="fetchData(row.id)">
                    Alterar
                  </button>
                </td>
                <td>
                  <button type="button" name="delete" class="btn btn-danger btn-xs delete" @click="deleteData(row.id)">
                    Cancelar agendamento
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div v-if="myModel">
        <transition name="model">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" @click="myModel=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ dynamicTitle }}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label>Veículo</label>
                      <input type="text" class="form-control" v-model="modelo1" />
                    </div>
                    <div class="form-group">
                      <label>Ano</label>
                      <input type="text" class="form-control" v-model="ano1" />
                    </div>
                    <div class="form-group">
                        <label>Placa</label>
                        <input type="text" class="form-control" v-model="placa1" />
                    </div>
                    <div class="form-group">
                        <label>Data Atendimento</label>
                        <input type="text" class="form-control" v-model="data1" />
                    </div>
                    <div class="form-group">
                        <label>Horário</label>
                        <input type="text" class="form-control" v-model="time1" />
                    </div>
                    <div class="form-group">
                        <label>Histórico</label>
                        <input type="text" class="form-control" v-model="descricao" />
                    </div>
                    <br />
                    <div align="center">
                      <input type="hidden" v-model="hiddenId" />
                      <input type="button" class="btn btn-success btn-xs" v-model="actionButton" @click="submitData" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    </section>
</body>

<footer class="footer">
    <hr>
    <p class="textfooter">&copy; Netcar | Todos os direitos reservados.</p>
</footer>

</html>


<script>
    var application = new Vue({
      el: "#crudApp",
      data: {
        allData: "",
        myModel: false,
        actionButton: "Agendar",
        allData: "",
        modelo1: "", // Adicione esta linha
        ano1: "", // Adicione outras propriedades se necessário
        placa1: "",
        data1: "",
        time1: "",
        descricao: "",
        hiddenId: "",
      },
      methods: {
        fetchAllData: function () {
          axios
            .post("/NETCAR/assets/php/cadastro.php", {
              action: "fetchall",
            })
            .then(function (response) {
              application.allData = response.data;
            });
        },
        openModel: function () {
          application.modelo1 = "";
          application.ano1 = "";
          application.placa1 = "";
          application.data1 = "";
          application.time1 = "";
          application.descricao = "";
          application.actionButton = "Agendar";
          application.myModel = true;
        },
        submitData: function () {
          if (application.modelo1 != "" && application.ano1 != "" && application.placa1 != "" && application.data1 != "" && application.time1 != "" && application.descricao != "") {
            if (application.actionButton == "Agendar") {
              axios
                .post("/NETCAR/assets/php/cadastro.php", {
                  action: "insert",
                  modelo1: application.modelo1,
                  ano1: application.ano1,
                  placa1: application.placa1,
                  data1: application.data1,
                  time1: application.time1,
                  descricao: application.descricao
                })
                .then(function (response) {
                  application.myModel = false;
                  application.fetchAllData();
                  application.modelo1 = "";
                  application.ano1 = "";
                  application.placa1 = "";
                  application.data1 = "";
                  application.time1 = "";
                  application.descricao = "";
                  alert(response.data.message);
                });
            }
            if (application.actionButton == "Update") {
              axios
                .post("/NETCAR/assets/php/cadastro.php", {
                  action: "update",
                  modelo1: application.modelo1,
                  ano1: application.ano1,
                  placa1: application.placa1,
                  data1: application.data1,
                  time1: application.time1,
                  descricao: application.descricao,
                  hiddenId: application.hiddenId,
                })
                .then(function (response) {
                  application.myModel = false;
                  application.fetchAllData();
                  application.modelo1 = "";
                  application.ano1 = "";
                  application.placa1 = "";
                  application.data1 = "";
                  application.time1 = "";
                  application.descricao = "";
                  application.hiddenId = "";
                  alert(response.data.message);
                });
            }
          } else {
            alert("Complete todos os dados!!!");
          }
        },
        fetchData: function (veicId) {
          axios
            .post("/NETCAR/assets/php/cadastro.php", {
              action: "fetchSingle",
              veicId: application.hiddenId,
            })
            .then(function (response) {
              application.modelo1 = response.data.modelo1;
              application.ano1 = response.data.ano1;
              application.placa1 = response.data.placa1;
              application.data1 = response.data.data1;
              application.time1 = response.data.time1;
              application.hiddenId = response.data.veicId;
              application.myModel = true;
              application.actionButton = "Update";
            });
        },
        deleteData: function (veicId) {
            console.log("Deleting veicId:", veicId); // verificar erro

          if (confirm("Você tem certeza que deseja cancelar o agendamento?")) {
            axios
              .post("/NETCAR/assets/php/cadastro.php", {
                action: "delete",
                veicId: application.hiddenId,
              })
              .then(function (response) {
                application.fetchAllData();
                alert(response.data.message);
              });
          }
        },
      },
      created: function () {
        this.fetchAllData();
      },
    });
  </script>