<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <title>NETCAR</title>
</head>
<body>
    <section class="header">
        <img src="/assets/img/logo1.png" class="logo1">
        <img src="/assets/img/logo2.png" class="logo2">
        <!-- <h1 class="header-rect2"> </h1> -->
        <div class="div-login">
          <div>
            <a href="./login.html#paralogin" class="text-login">Login</a>
          </div>
          <div>
            <img src="/assets/img/user circle.png" class="img-user">
          </div>
          <div>
            <a href="./login.html#paracadastro" class="text-login">Cadastro</a>
          </div>
        </div>
    </section>

    <section class="parte1">
        <div class="trapezoid-container">
            <nav>
                <ul class="sublinhado">
                    <li><a href="index.html" class="aba">Netcar</a></li>
                    <li><a href="#parte2" class="aba">Serviços</a></li>
                    <li><a href="login.html" class="aba">Agendamento</a></li>
                    <li><a href="#parte3" class="aba">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="parte12">
            <div class="text1">
                <h1 class="text11">A Netcar</h1>
            <p class="text12">Conectamos apaixonados por carros aos melhores serviços de mecânica, oferecendo uma jornada que vai além da manutenção.
                Bem-vindo à revolução do cuidado com seu veículo
            </p>
            </div>
            <img src="/assets/img/mec(1).png" class="mecanico">
        </div>
        <div class="retangulo-mecanico">
            <div class="div-retangulo">
                <p>Agendamento Simples</p>
            </div>
            <div class="div-retangulo2">
                <p>Confiança Total</p>
            </div>
            <div class="div-retangulo">
                <p>Clientes Satisfeitos</p>
            </div>
        </div>
    </section>

    <section class="parte2" id="parte2">
        <img src="/assets/img/img-parte2.png" class="imgparte2">
        <div>
            <h1 class="titulo-serviços">Nossos Serviços</h1>
        </div>
        <div class="div-serviços">
            <div class="servico">
                <div class="servico-frase" data-tooltip="Permita que os usuários solicitem serviços de reparo para problemas específicos em seus veículos, como freios desgastados, problemas elétricos, etc">
                    <span class="servico-texto">Agendamento para Reparos</span>
                </div>
            </div>
            <div class="servico">
                <div class="servico-frase" data-tooltip="Agende uma inspeção detalhada para avaliar um veículo usado antes da compra">
                    <span class="servico-texto">Inspeção Pré-compra</span>
                </div>
            </div>
            <div class="servico">
                <div class="servico-frase" data-tooltip="Permita que os usuários escolham e agendem a troca de pneus, incluindo balanceamento e alinhamento">
                    <span class="servico-texto">Troca de Pneus</span>
                </div>
            </div>
        </div>
        <div class="aten-rapido">
            <img src="/assets/img/icon whats.png" class="icon-whats">
            <a href="##" class="text-aten-rapido">Atendimento rápido</a>
        </div>
    </section>

    <section class="parte3" id="parte3">
        <div class="contato-p1">
            <h1>Entre em contato com a gente!</h1>
            <div class="icons">
                <img src="/assets/img/icon tel.png" class="img-localizacao">
                <p>(16) 3721-2121</p>
            </div>
            <div class="icons">
                <img src="/assets/img/icon localização.png" class="img-localizacao">
                <p>Rua dos Bobos, 0</p>
            </div>
            <div class="icons">
                <img src="/assets/img/icon email.png" class="img-localizacao">
                <p>contato@netcar.com</p>
            </div>
        </div>
        <div class="contato-p2">
            <div class="envie-email">
                <h2 class="titulo-envie-email">Envie um e-mail</h2>
                <div class="email-dados">
                    <label class="text-email-dados">Nome</label>
                    <input type="text" class="input-email-dados" placeholder="nome">
                </div>
                <div class="email-dados">
                    <label class="text-email-dados">E-mail</label>
                    <input type="email" class="input-email-dados" placeholder="ex. contato@netcar.com">
                </div>
                <div class="email-dados">
                    <label class="text-email-dados">Telefone</label>
                    <input type="tel" class="input-email-dados" placeholder="ex. (16) 98765-4321">
                </div>
                <div class="email-dados">
                    <label class="text-email-dados">Mensagem</label>
                    <textarea class="input-email-dados-2"></textarea>
                </div>
                <button class="botao-enviar-email">Enviar</button>
            </div>
        </div>
    </section>

    <footer>
        <hr>
        <p class="textfooter">&copy; Netcar | Todos os direitos reservados.</p>
      </footer>
</body>
</html>


