<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Página com Trapézio</title>
</head>
<body>
    <header>
        <h1 class="header-rect">Meu Cabeçalho Retangular</h1>
        <!-- <h1 class="header-rect2"> </h1> -->
    </header>
    <div class="trapezoid-container">
        <a href="#" class="trapezoid-link"></a>
        <nav>
            <ul class="sublinhado">
                <li><a href="index.html" class="aba">Home</a></li>
                <li><a href="noticias.html" class="aba">Notícias</a></li>
                <li><a href="açoes.html" class="aba">Ações</a></li>
                <li><a href="commodities.html" class="aba">Commodities</a></li>
                <li><a href="moedas.html" class="aba">Moedas</a></li>
                <li><a href="sobre.html" class="aba">Sobre</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>


