<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <title>Página com Trapézio</title>
</head>
<body>
    <section class="header">
        <img src="/assets/img/logo1.png" class="logo1">
        <img src="/assets/img/logo2.png" class="logo2">
        <!-- <h1 class="header-rect2"> </h1> -->
    </section>
    <section class="parte1">
        <div class="trapezoid-container">
            <nav>
                <ul class="sublinhado">
                    <li><a href="index.html" class="aba">Netcar</a></li>
                    <li><a href="noticias.html" class="aba">Serviços</a></li>
                    <li><a href="açoes.html" class="aba">Agende seu serviço</a></li>
                    <li><a href="commodities.html" class="aba">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="parte12">
            <div class="text1">
                <h1 class="text11">A Netcar</h1>
            <p class="text12">pode adotar uma abordagem estratégica para otimizar esses processos e reduzir impactos negativos, 
                ao mesmo tempo em que maximiza seus resultados. A seguir, detalho como o planejamento de</p>
            </div>
            <img src="/assets/img/mec(1).png" class="mecanico">
        </div>
        <div class="retangulo-mecanico">
            
        </div>
    </section>

    <section class="parte2">

    </section>
</body>
</html>


