<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <title>NETCAR</title>
</head>
<body>
    
    <section class="header">
        <img src="/assets/img/logo1.png" class="logo1">
        <img src="/assets/img/logo2.png" class="logo2">
        <!-- <h1 class="header-rect2"> </h1> -->
        <div class="div-login">
          <div>
            <a href="./login.html#paralogin" class="text-login">Login</a></li>
          </div>
          <div>
            <img src="/assets/img/user circle.png" class="img-user">
          </div>
          <div>
            <a href="./login.html#paracadastro" class="text-login">Cadastro</a></li>
          </div>
        </div>
    </section>

    <section class="parte01">
        <div class="trapezoid-container">
            <nav>
                <ul class="sublinhado">
                    <li><a href="index.html" class="aba">Netcar</a></li>
                    <li><a href="index.html#parte2" class="aba">Serviços</a></li>
                    <li><a href="login.html" class="aba">Agendamento</a></li>
                    <li><a href="index.html#parte3" class="aba">Contato</a></li>
                </ul>
            </nav>
        </div>

    </section>
    
    <section>
    <div class="container" >
            <a class="links" id="paralogin"></a>
            <a class="links" id="paracadastro"></a>
        <div class="content">         
            <!--FORMULÁRIO DE CADASTRO-->
            <div id="cadastro">
              <form action="registro.php" method="POST">
                <h1>Cadastro</h1> 
                 
                <p> 
                  <label for="nome_cad">Seu nome</label>
                  <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
                </p>
                 
                <p> 
                  <label for="email_cad">Seu e-mail</label>
                  <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com"/> 
                </p>
                 
                <p> 
                  <label for="senha_cad">Sua senha</label>
                  <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234"/>
                </p>
                 
                <p> 
                  <input type="submit" value="Cadastrar"/> 
                </p>
                 
                <p class="link">  
                  Já tem conta?
                  <a href="#paralogin" style="text-decoration: underline; color: #F5F5F5"> Ir para Login </a>
                </p>
              </form>
            </div>
            <!--FORMULÁRIO DE LOGIN-->
            <div id="login">
                <form action="login.php" method="POST">
                  <h1>Login</h1> 
                  <p> 
                    <label for="nome_login">Seu e-mail</label>
                    <input id="nome_login" name="email_login" required="required" type="text" placeholder="ex. contato@htmlecsspro.com"/>
                  </p>
                   
                  <p> 
                    <label for="email_login">Sua senha</label>
                    <input id="email_login" name="senha_login" required="required" type="password" placeholder="ex. senha" /> 
                  </p>
                   
                  <p> 
                    <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                    <label for="manterlogado">Manter-me logado</label>
                  </p>
                   
                  <p> 
                    <input type="submit" value="Logar" /> 
                  </p>
                   
                  <p class="link">
                    Ainda não tem conta?
                    <a href="#paracadastro" style="text-decoration: underline; color: #F5F5F5">Cadastre-se</a>
                  </p>
                </form>
              </div>
        </div>
    </section>
  

    <footer class="footer">
        <hr>
        <p class="textfooter">&copy; Netcar | Todos os direitos reservados.</p>
    </footer>
</body>
</html> 